body {
    background-color: white;
    margin: 0;
    padding: 0;
    color: #000;
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, p {
    margin: 0;
    padding: 0;
}

div.error{
    text-align: center;
}

a{
    color: #03989E;
}

header{
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: rgb(218 230 217);
    height: 100px;
}

header ul{
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}

header ul li {
    list-style: none;
    margin-right: 25px;
}

header ul.user li {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

header ul.user li a{
    background-color: transparent;
    color: #000;
    display: inline-flex;
    align-items: center;
    padding: 0;
}

header ul.user li img{
    width: 50px;
    height: auto;
    margin-right: 10px;
}

header ul li a{
    text-decoration: none;
    color: #fff;
    background-color: #03989E;
    padding: 20px;
}

fieldset{
    border: none;
    padding: 0;
    margin: 0;
}

.users {
    display: flex;
    flex-direction: row;
    height: 100vh;
    margin-right: 50px;
    margin-left: 50px;
    align-items: center;
    justify-content: space-around;
}

.users h3 {
    font-size: 40px;
}

.users .logo {
    width: 40%;
    height: auto;
}

.users .logo img {
    width: 100%;
    height: auto;
}

.users .connForm{
    width: 40%;
}

.users.add fieldset{
    width: 100%;
}

.users fieldset .email{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.users fieldset .email label {
    margin-left: 10px;
    font-size: 16px;
    margin-bottom: 8px;
}

.users fieldset .email input{
    width: 100%;
    height: 40px;
    font-size: 28px;
    border-radius: 0;
    border: 0.5px solid;
}

.users fieldset .password{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.users fieldset .password label {
    margin-left: 10px;
    font-size: 16px;
    margin-bottom: 8px;
}

.users fieldset .password input{
    width: 100%;
    height: 40px;
    font-size: 28px;
    border-radius: 0;
    border: 0.5px solid;
}

.users fieldset a{
    margin-top: 10px;
    margin-left: 10px;
}

.users .submit{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.users .submit input{
    width: 70%;
    background-color: #03989E;
    color: #fff;
    height: 40px;
    border: none;
    font-size: 22px;
    cursor: pointer;
}

.users .submit input:hover {
    background-color: #2c9da1;
}

.users .no-account{
    margin-top: 20px;
    text-align: center;
}

.users .accRess a {
    text-decoration: none;
    color: #fff;
    background-color: #03989E;
    padding: 20px;
}

.users .accRess {
    display: none;
}

@media (max-width: 900px) {
    header .ressources {
        display: none;
    }

    header .logo img{
        width: 100%;
    }

    header{
        justify-content: center;
    }

    .users{
        margin: 0;
    }

    .users .logo{
        display: none;        
    }

    .users .connForm h3{
        font-size: 22px;
        text-align: center;
    }

    .add .connForm h3{
        font-size: 22px;
        text-align: center;
    }

    .users .accRess{
        display: flex;
        margin-top: 20px;
        justify-content: center;
    }

    .users .accRess a{
        text-align: center;
    }

    .users .connForm{
        width: 90%;
    }

    .add .connForm{
        width: 90%;
    }
}

/* PUBLICATIONS */

.publication.index {
    padding-top: 100px;
}

.imagePubli {
    width: 500px;
}

.posts {
    text-align: center;
}

.post {
    border: 1px rgb(219, 219, 219) solid;
}

.row {
    padding-top: 100px;
}

/* RESSOURCES */

.ressources.index {
    padding-top: 100px;
}

.add {
    display: flex;
    flex-direction: row;
    height: 100vh;
    margin-right: 50px;
    margin-left: 50px;
    align-items: center;
    justify-content: space-around;
}

.add h3 {
    font-size: 40px;
    margin-bottom: 15px;
    text-align: center;
}

.add fieldset .input{
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}

.add .civilite {
    text-align: center;
    margin-top: 10px;
}

.add .submit {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    cursor: pointer;
}


.add .submit input {
    width: 70%;
    background-color: #03989E;
    color: #fff;
    height: 40px;
    border: none;
    font-size: 22px;
    cursor: pointer;
}

.add .submit input:hover {
    background-color: #2c9da1;
}

.add .connForm {
    margin-top: 170px;
}

@media (max-width: 900px) {
    .add .connForm {
        margin-top: 170px;
    }
}

.view {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:start;
}

.view .avatar{
    margin-top: 115px;
}

.view .edit {
    margin: 30px;
}

.view .edit a {
    text-decoration: none;
    color: #fff;
    background-color: #03989E;
    padding: 20px;
}

.view .addPubli{
    margin-top: 10px;
    margin-bottom: 60px;
}

.view .addPubli p{
    font-size: 18px;
    text-align: center;
    margin-bottom: 5px;
}

.view .addPubli a {
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
    text-decoration: none;
    padding-right: 200px;
    padding-bottom: 50px;
    border-radius: 5px;
}