name: PHP Composer

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest

    steps:

    - name: update
      run: composer update --ignore-platform-req=ext-intl

    - name: install
      run: composer install --ignore-platform-req=ext-intl

    # - name: update integration
    #   image: appleboy/drone-scp
    #   settings:
    #     host: 212.227.12.57
    #     username: root
    #     password: 02@g$F*jat
    #     port: 22
    #     command_timeout: 2m
    #     target: /var/www/html/clmad_app
    #     source: release.tar.gz

    # - name: Validate composer.json and composer.lock
    #   run: composer validate --strict

    # - name: Cache Composer packages
    #   id: composer-cache
    #   uses: actions/cache@v3
    #   with:
    #     path: vendor
    #     key: ${{ runner.os }}-php-${{ hashFiles('**/composer.lock') }}
    #     restore-keys: |
    #       ${{ runner.os }}-php-

    # - name: Install dependencies
    #   run: composer install --prefer-dist --no-progress

    # Add a test script to composer.json, for instance: "test": "vendor/bin/phpunit"
    # Docs: https://getcomposer.org/doc/articles/scripts.md

    # - name: Run test suite
    #   run: composer run-script test
